.navbar {
  margin: 0;
  padding: 0 15px;
  display: flex;
  background: #3a3335;

  &-item {
    color: #c6d8d3;
    display: inline-flex;

    .active {
      color: #d81e5b !important;
    }

    a,
    a:visited {
      padding: 15px;
      color: #c6d8d3;
      text-decoration: none;
    }

    &:hover {
      cursor: pointer;
      background: #fdf0d5;

      a {
        color: #d81e5b;
      }
    }
  }
}
